bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/
.vscode/
*.dll
*.pdb
*.exe
*.deps.json
*.runtimeconfig.json
*.staticwebassets.*
apphost
compressed/
ref/
refint/
scopedcss/
staticwebassets.*
*.gz
*.cache
*.csproj.nuget.*
project.assets.json
project.nuget.cache 